*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    margin: unset;
}
.modal-button{
    border: 5px solid #212529;
}
.top i, .bottom i{
    font-size: 2rem;
    margin-inline: .25rem;
}
#pet img{
    width: 1rem;
}
#pet i{
    font-size: 5rem;
}
.bottom .btn{
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}
.bottom i{
    cursor: pointer;
}
.bottom i:hover{
    transform: scale(1.1);
    transition: all .2s;
}
.white{
    background-color: white;
}
.dark{
    background-color: rgb(68, 68, 68);
}